a.nav-link {
    color: inherit;
    text-align: center;
}

a.nav-link:hover, a.active {
    color: #fe5555;
}

img.profile-card-img {
    position: relative;
    margin-top: -17.5%;
    width: 35%;
    height: 35%;
}

img.follow-card-img {
    width: 4vw;
    height: 4vw;
}

div.follow-card-username {
    max-width: 12vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.5em;
}

div.follow-card button {
    font-size: 1.5em;
}