body {
    font-family: Roboto, serif;
}

.position-sticky {
    z-index: 1;
}

.modal-backdrop {
    z-index: 0;
}

.container-spacer {
    min-height: 40rem;
}

/* ---------- Navigation tabs ----------*/
a.nav-link {
    color: inherit;
    text-align: center;
}

a.nav-link:hover, a.active {
    color: #fe5555;
}

.nav-item button.nav-link.active {
    color: #fe5555;
    background-color: inherit;
    border: none;
}

.nav-item button.nav-link {
    color: inherit;
    background-color: inherit;
    border: none;
}
/* -------------------------------------*/

/* ------------ User cards -------------*/
img.profile-card-img {
    position: relative;
    margin-top: -17.5%;
    width: 35%;
    height: 35%;
}

div.user-card {
    overflow: hidden;
    overflow-wrap: break-word;
}

img.user-card-profile-img {
    width: 4rem;
    height: 4rem;
}

div.user-card-username {
    font-size: 1.5rem;
}
/* -------------------------------------*/

/* -------------- Forms ----------------*/
.field-wrapper {
    padding: 0.5rem;
}
/* -------------------------------------*/