.post-wrapper {
    font-size: 1.3em;
    cursor: pointer;
}

div.post-wrapper a {
    color: inherit;
    text-decoration: none;
}

div.post-wrapper a:hover {
    text-decoration-line: underline;
}

img.post-profile-img {
    width: 4rem;
    height: 4rem;
}