.post-wrapper {
    font-size: 1.3em;
}

div.post-wrapper:hover {
    background-color: #eee;
}

div.post-wrapper a {
    color: inherit;
    text-decoration: none;
}

div.post-wrapper a:hover {
    text-decoration-line: underline;
}