{% extends 'blog/base.html' %}

{% block content %}

<div class="border-start border-end border-dark">
    <div>
        {% if profile.profile_banner %}
        <img class="w-100" src="{{ profile.profile_banner.url }}" />
        {% else %}
        <img class="w-100" src="https://cdn.kapwing.com/final_5dcc99aba3f32c0013ff8b46_45583.jpg" />
        {% endif %}
    </div>
    <div class="p-3 pt-0">
        <div class="d-flex">
            {% if profile.profile_pic %}
            <img class="border border-5 border-dark rounded-circle profile-card-img" 
                src="{{ profile.profile_pic.url }}" />
            {% else %}
            <img class="border border-5 border-dark rounded-circle profile-card-img"
                src="https://cdn.kapwing.com/final_5dcc99aba3f32c0013ff8b46_45583.jpg" />
            {% endif %}
            {% if profile.user == user %}
            <div class="ms-auto mt-3">
                <button class="btn btn-secondary profile-edit-button">Edit</button>
            </div>
            {% endif %}
            {% if following %}
            <div class="ms-auto mt-3">
                <button class="btn btn-outline-danger unfollow-button" data-username="{{ profile.user.username }}">Unfollow</button>
            </div>
            {% endif %}
        </div>
        <div>
            <h1 class="fw-bold">{{ profile.user.username }}</h1>
            <span>{{ profile.bio }}</span>
        </div>
    </div>
    {% if profile.user == user %}
    <div class="d-none profile-edit-form">
        <form class="" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ profile_form.as_p }}
            <input class="btn btn-success d-block mt-2" type="submit" value="Save">
        </form>
    </div>
    {% endif %}
    <div>
        {% include 'posts/post_container.html' %}
    </div>
</div>

{% endblock content %}
