{% extends 'blog/base.html' %}

{% block content %}

<div class="border-start border-end border-dark">
<div>
    {% if profile.profile_banner %}
    <img src="{{ profile.profile_banner.url }}" width="100%" height="150" />
    {% else %}
    <img src="https://cdn.kapwing.com/final_5dcc99aba3f32c0013ff8b46_45583.jpg" width="100%" height="150" />
    {% endif %}
</div>
<div>
    {% if profile.profile_pic %}
    <img class="border border-5 border-primary rounded-circle" src="{{ profile.profile_pic.url }}" width="128" height="128" />
    {% else %}
    <img src="https://cdn.kapwing.com/final_5dcc99aba3f32c0013ff8b46_45583.jpg" width="128" height="128" />
    {% endif %}
    <h4>{{ profile.user.username }}</h4>
    <div>{{ profile.bio }}</div>
</div>
</div>
<div>
    {% include 'posts/post_container.html' %}
</div>

{% endblock content %}
