<div class="border-top border-dark">
    {% for post in posts %}
    <div class="post-wrapper" style="cursor:pointer;" onclick='location.href="{% url 'post-detail' pk=post.id %}";'>
        {% include 'posts/post.html' %}
        <div class="border-bottom border-dark"></div>
    </div>
    {% endfor %}
</div>

<!-- Post Deletion Modal -->
<div class="modal fade" id="postDeleteModal" tabindex="-1" aria-labelledby="postDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="postDeleteModalLabel">Delete this post?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Deletion of a post can't be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="postDeleteModalButton" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<!-- Post Creation Modal -->
<div class="modal fade" id="postCreateModal" tabindex="-1" aria-labelledby="postCreateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="postCreateModalLabel">Create a new post!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input class="btn btn-success d-block ms-auto mt-2" type="submit" value="Post">
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

