<div class="post">
    <div class="card-body">
        <div class="d-flex justify-content-left align-items-center">
            <div class="small text-muted text-end"><a href="{% url 'profile' user=post.author.username %}">
                {{ post.author.username }}</a> | {{ post.date_posted }}
            </div>
            <div class="ms-auto">
                {% if request.user == post.author %}
                <button class="btn btn-outline-danger post-delete-button mb-1" data-bs-toggle="modal" data-bs-target="#postDeleteModal" data-pk="{{ post.pk }}">Delete</button>
                {% endif %}
            </div>
        </div>
        <p class="card-text">{{ post.text }}</p>
    </div>
</div>